.env
node_modules
.DS_Store
.dockerignore
.DS_Store
._.DS_Store
uploads/Fated.mp3 uploads/Screenshot 2024-01-25 at 1.48.42 PM.png
uploads
client/node_modules
client/dist
.smbdeleteAAAc0d55f419f1c4390
