form.auth-form {
    max-width: 70vw;
    background-color: #777;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: #000;
    font-weight: 800;
}

div.form-field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem auto;
}

div.form-field input {
    width: 20rem;
    max-width: 40vw;
    margin: 0.5rem auto;
    text-align: center;
}

button.auth-button {
    margin: 1rem auto;
}